<style>
    a {
        display: flex; 
        align-items: center;
        text-decoration: none;
        font-weight: 700;
        
    }

    @media screen and (max-width: 520px) {
        a {
            display: none;
        }
    }
</style>

    <a href="/">
        Shi. Blog
    </a>
